<form #myForm="ngForm" (ngSubmit)="register(myForm.form.value)" role="form" style="border:1px solid #ccc" ngNativeValidate method="POST">
  <div class="imgcontainer">
    <img src="../../assets/images/wp3991264-sai-baba-wallpapers.jpg" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="data" class="form-control" id="" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" ngModel class="form-control" id="" required minlength="6">

    <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required> -->
    <label for="mobile"><b>Mobile Number</b></label>
    <input type="tel" ngModel name="mobileNo" placeholder="Mobile" class="form-control" required="required" minlength="10" maxlength="10">

    <!-- <input type="hidden" value="USER"  ngModel  name="role" class="form-control" id="" > -->

    

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <button type="button" (click)="cnclbtn()" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>