<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="../../assets/images/wp3991276-sai-baba-wallpapers.jpg" alt="Avatar" class="avatar" style="align-items: center; margin-left: 23%"  width="50%" height="300px">
      </div>
      <br><br>    
  <div style="color:black">
  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Shirdi, a small rural town in the Rahata taluka of Ahmednagar district in the Maharashtra state of India.
     Shirdi is a secular place where all religions are treated as one & a belief in the power of Faith & Patience is foremost. 
     A place where all heads bow down in prayer, where faith prevails, where hopes are built, where patience pays, and where infinite joy and everlasting contentment abound. 
     Such is the glory of the place which belongs to the Holy Saint, a true repository of wisdom, who pleased all with pious equality and gifted mankind ornaments of humanity and peace by saying "SABKA MALIK EK". 
     The footprints of Saibaba have made this town a holy place. Millions of devotees continuously flock here from all over India and abroad. Situated on the Ahmednagar-Manmad highway.

    Shirdi can be reached from the new railway station at Sainagar; Manmad-Junction, Kopargaon and Nagarsul are other nearby railway stations on the Central Railway.
     Shirdi is where the holy soul of Shri Satchidanand Sadguru Sainath Maharaj - affectionately known as “Saibaba” rests today. Shri Saibaba appeared at Shirdi in his human incarnation.
      For 60 years Baba served mankind and preached his precious teachings to the world from here, and then went for contemplation (Samadhi) in Shirdi itself. 
      The footprints and the deeds of Saibaba have turned this small town into a unique holy place for people of all castes, creeds and religions. Saibaba delivered the universal slogan of "Shraddha - Saburi", i.e. Faith and Patience for everyone, from here itself.
       The place of his 'Samadhi' has become a centre-point for innumerable devotees, infusing them with the joy of life. While visiting Shirdi, one experiences complete peace of mind, a strong self-confidence, and a great sense of purpose. During his contemplation (Samadhi) services, Shri Saibaba had consoled his devotees with these words - "After I take Samadhi, my bones will speak from the grave, and people will throng here." His message is being experienced till today.
        Shirdi is a convenient place to visit throughout the year, during all seasons. Baba's Shirdi is one place where even today all his devotees come with empty hands but filled with Hope, and go back "Blessed with Contentment with an Everlasting Smile on their faces".
      </p>
    </div>
  </body>
</html>


