body, html {
    height: 50%;
    width: 60%;
    margin-left: 20%;
    
  }
  .bg {

    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }